@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 10px;

  --rtg-site-background: #efefef;
  --rtg-red: #ED1C24;
  --rtg-orange: #F26641;
  --rtg-yellow: #FFCB05;
  --rtg-green: #50B848;
  --rtg-blue: #00AEEF;
  --rtg-purple: #763F98;

  // @media (prefers-color-scheme: dark) {
  //   --rtg-site-background: #454545;
  //   --rtg-orange: #CC5637;
  //   --rtg-yellow: #E6B704;
  //   --rtg-green: #3D8C37;
  //   --rtg-blue: #008CBF;
  //   --rtg-purple: #593073;
  // }
}

body {
  background-color: var(--rtg-site-background);
  font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.rtg-site-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 0 .5rem;

  .rtg-header-logo {
    height: 9.5rem;
    margin-right: auto;
    margin-top: .5rem;
  }
}

$colors: 'red', 'orange', 'yellow', 'green', 'blue', 'purple';

rtg-nav-item {
  color: white;
  margin-left: .5rem;
  margin-right: .5rem;
  
  a {
    align-items: center;
    color: white;
    display: inline-flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
  }
  
  @each $color in $colors {
    &[color="#{$color}"] {
      background-color: var(--rtg-#{$color});
    }
  }

  svg {
    height: 50%;
    width: 50%;
  }

  .rtg-nav-item-text {
    display: inline-block;
    font-size: 1.8rem;
    margin-top: .5rem;
  }
}