@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$rtg-breakpoint: 512px;

html {
  font-size: 10px;

  --rtg-site-background: #efefef;
  --rtg-red: #ed1c24;
  --rtg-orange-light: #f26641;
  --rtg-orange-dark: #CC5637;
  --rtg-orange: var(--rtg-orange-light);
  --rtg-yellow-light: #ffcb05;
  --rtg-yellow-dark: #E6B704;
  --rtg-yellow: var(--rtg-yellow-light);
  --rtg-green-light: #50b848;
  --rtg-green-dark: #3D8C37;
  --rtg-green: var(--rtg-green-light);
  --rtg-blue-light: #00aeef;
  --rtg-blue-dark: #008CBF;
  --rtg-blue: var(--rtg-blue-light);
  --rtg-purple-light: #763f98;
  --rtg-purple-dark: #593073;
  --rtg-purple: var(--rtg-purple-light);

  @media (prefers-color-scheme: dark) {
    --rtg-site-background: #454545;
    --rtg-orange: var(--rtg-orange-dark);
    --rtg-yellow: var(--rtg-yellow-dark);
    --rtg-green: var(--rtg-green-dark);
    --rtg-blue: var(--rtg-blue-dark);
    --rtg-purple: var(--rtg-purple-dark);
  }
}

body {
  background-color: var(--rtg-site-background);
  font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.rtg-site-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 0 0.5rem;

  @media screen and (min-width: #{$rtg-breakpoint}) {
    flex-direction: row;
  }

  .rtg-header-logo {
    height: 9.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;

    @media screen and (min-width: #{$rtg-breakpoint}) {
      margin-bottom: 0;
      margin-left: 0;
    }

    $logo-svg-color: (0: "red", 1: "green-light", 2: green-dark, 3: "blue-light", 4: blue-dark, 5: "purple-light", 6: purple-dark, 7: "orange-light", 8: orange-dark, 9: "yellow-light", 10: yellow-dark);
    @each $num, $color in $logo-svg-color {
      .rtg-logo-st#{$num} {
        fill: var(--rtg-#{$color});
      }
    }

    .rtg-logo-text {
      fill: #000000;
    }

    @media (prefers-color-scheme: dark) {
      .rtg-logo-text{
        fill:#ffffff;
      }
    }
  }
}

$colors: "red", "orange", "yellow", "green", "blue", "purple";

rtg-nav-item {
  color: white;
  margin: .5rem;

  @media screen and (min-width: #{$rtg-breakpoint}) {
    margin: 0 .5rem;
  }

  a {
    align-items: center;
    color: white;
    display: inline-flex;
    height: 5rem;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: #{$rtg-breakpoint}) {
      flex-direction: column;
      height: 10rem;
      justify-content: center;
      width: 10rem;
    }
  }

  @each $color in $colors {
    &[color="#{$color}"] {
      background-color: var(--rtg-#{$color});
    }
  }

  svg {
    fill: #ffffff;
    flex-grow: 0;
    height: 70%;
    margin: 0 1rem 0 .5rem;

    @media screen and (min-width: #{$rtg-breakpoint}) {
      height: 50%;
      margin: 0;
      width: 50%;
    }
  }

  .rtg-nav-item-text {
    display: inline-block;
    flex-grow: 1;
    font-size: 1.8rem;
    margin-top: 0.5rem;

    @media screen and (min-width: #{$rtg-breakpoint}) {
      flex-grow: 0;
    }
  }
}
